<link rel="stylesheet"  type="text/css" href="css/datatable.css">
<link rel="stylesheet" type="text/css"href="css/addu.css">
<link rel="stylesheet" type="text/css" href="css/ash.css">

<%- include('includes/header.ejs') %>

<main>
  <div class="container">
    <div class="page-title-container">
      <div class="row">
        <div class="col-12 col-md-7 mb-3">
          <a class="muted-link pb-2 d-inline-block hidden" href="#">
            <span class="align-middle lh-1 text-small">&nbsp;</span>
          </a>
          <h4 class="mb-0 pb-0 display-5 text-white" id="title">Welcome,Admin</h4>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="d-flex">
          <div
            class="dropdown-as-select me-3"
            data-setactive="false"
            data-childselector="span"
          >
            <a
              class="pe-0 pt-0 align-top lh-1 dropdown-toggle"
              href="#"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              aria-haspopup="true"
            >
              <span class="small-title"></span>
            </a>
            <div class="dropdown-menu font-standard">
              <div class="nav flex-column" role="tablist">
                <a
                  class="active dropdown-item text-medium"
                  href="#"
                  aria-selected="true"
                  role="tab"
                  >Today's</a
                >
                <a
                  class="dropdown-item text-medium"
                  href="#"
                  aria-selected="false"
                  role="tab"
                  >Weekly</a
                >
                <a
                  class="dropdown-item text-medium"
                  href="#"
                  aria-selected="false"
                  role="tab"
                  >Monthly</a
                >
                <a
                  class="dropdown-item text-medium"
                  href="#"
                  aria-selected="false"
                  role="tab"
                  >Yearly</a
                >
              </div>
            </div>
          </div>
          <h5 class="small-title text-white">status</h5>
        </div>
        <div class="mb-5">
          <div class="row g-2">
            <div class="col-6 col-md-4 col-lg-2">
              <div class="card h-100 hover-scale-up cursor-pointer text-white" style="background-color:rgb(51 69 86);" >
                <div class="card-body d-flex flex-column align-items-center ">
                  <div
                    class="sw-6 sh-6 rounded-xl d-flex justify-content-center align-items-center  -primary mb-4"
                  >
                  <i class="fa-sharp fa-solid fa-dollar-sign"></i>
                  </div>
                  <div
                    class="mb-1 d-flex align-items-center text-alternate text-small lh-1-25"
                  >
                    EARNINGS
                  </div>
                  <div class=" text-white cta-4" id="totalernings">Rs. <%=totalEarnings%></div>
                </div>
              </div>
            </div>
            <div class="col-6 col-md-4 col-lg-2">
              <div class="card h-100 hover-scale-up cursor-pointer text-white" style="background-color:rgb(51 69 86);">
                <div class="card-body d-flex flex-column align-items-center">
                  <div
                    class="sw-6 sh-6 rounded-xl d-flex justify-content-center align-items-center mb-4"
                  >
                  <i class="fa-solid fa-user"></i>
                  </div>
                  <div
                    class="mb-1 d-flex align-items-center text-alternate text-white text-small lh-1-25"
                  >
                    USERS
                  </div>
                  <div class="text-white cta-4"><%=userCount%></div>
                </div>
              </div>
            </div>

            <div class="col-6 col-md-4 col-lg-2">
              <div class="card h-100 hover-scale-up cursor-pointer text-white" style="background-color:rgb(51 69 86);">
                <div class="card-body d-flex flex-column align-items-center">
                  <div
                    class="sw-6 sh-6 rounded-xl d-flex justify-content-center align-items-center  mb-4"
                  >
                  <i class="fa-solid fa-boxes-stacked"></i>
                  </div>
                  <div
                    class="mb-1 d-flex align-items-center text-alternate text-small lh-1-25"
                  >
                    ORDERS
                  </div>
                  <div class="text-white cta-4"><%=orderCount%></div>
                </div>
              </div>
            </div>

            <div class="col-6 col-md-4 col-lg-2">
              <div class="card h-100 hover-scale-up cursor-pointer text-white" style="background-color:rgb(51 69 86);">
                <div class="card-body d-flex flex-column align-items-center">
                  <div
                    class="sw-6 sh-6 rounded-xl d-flex justify-content-center align-items-center mb-4"
                  >
                  <i class="fa-solid fa-truck-fast"></i>
                  </div>
                  <div
                    class="mb-1 d-flex align-items-center text-alternate text-small lh-1-25"
                  >
                    SHIPPED
                  </div>
                  <div class="text-white cta-4"><%=shippedCount%></div>
                </div>
              </div>
            </div>

            <div class="col-6 col-md-4 col-lg-2">
              <div class="card h-100 hover-scale-up cursor-pointer text-white" style="background-color:rgb(51 69 86);">
                <div class="card-body d-flex flex-column align-items-center">
                  <div
                    class="sw-6 sh-6 rounded-xl d-flex justify-content-center align-items-center  mb-4"
                  >
                  <i class="fa-solid fa-gift"></i>
                  </div>
                  <div
                    class="mb-1 d-flex align-items-center text-alternate text-small lh-1-25"
                  >
                    DELIVERED
                  </div>
                  <div class="text-white cta-4" id="deliverd"><%=deliveredCount%></div>
                </div>
              </div>
            </div>

            <div class="col-6 col-md-4 col-lg-2">
              <div class="card h-100 hover-scale-up cursor-pointer text-white" style="background-color:rgb(51 69 86);"> 
                <div class="card-body d-flex flex-column align-items-center">
                  <div
                    class="sw-6 sh-6 rounded-xl d-flex justify-content-center align-items-center  mb-4"
                  >
                   
<i class="fa fa-clock-o" aria-hidden="true"></i>
                  </div>
                  <div
                    class="mb-1 d-flex align-items-center text-alternate text-white text-small lh-1-25"
                  >
                    PENDING
                  </div>
                  <div class="text-white cta-4" id="pending"><%=pendingCount%></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" >
      <div class="col-xl-6 mb-5">
        <h2 class="small-title text-white">Recent Orders</h2>
        <div class="mb-n2 scroll-out">
          <div class="scroll-by-count" data-count="6">
            <% for (order of ordersList) { %>
            <div class="card mb-2 sh-15 sh-md-6" style="background-color: rgb(51 69 86);">
              <div class="card-body pt-0 pb-0 h-100">
                <div class="row g-0 h-100 align-content-center">
                  <div
                    class="col-10 col-md-4 d-flex align-items-center mb-3 mb-md-0 h-md-100"
                  >
                    <a
                      href="/admin/orderSummary/?id=<%=order._id%>"
                      class="body-link stretched-link"
                      style="
                        display: block;
                        white-space: nowrap;
                        width: 12em;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        color: #ffff;
                      "
                      ><%=order._id%></a
                    >
                  </div>
                  <div
                    class="col-2 col-md-3 d-flex align-items-center text-muted mb-1 mb-md-0 justify-content-end justify-content-md-start"
                  >
                    <% if(order.orderStatus=='Order Pending'){ %>
                    <span class="badge bg-outline-warning me-1"
                      ><%=order.orderStatus%></span
                    >
                    <% }else if(order.orderStatus=='Delivered') {%>
                    <span class="badge bg-outline-primary me-1"
                      ><%=order.orderStatus%></span
                    >
                    <% }else if(order.orderStatus=='Cancelled') {%>
                    <span class="badge bg-outline-danger me-1"
                      ><%=order.orderStatus%></span
                    >
                    <% }else{ %>
                    <span class="badge bg-outline-info me-1"
                      ><%=order.orderStatus%></span
                    >
                    <% } %>
                  </div>
                  <div
                    class="col-12 col-md-2 d-flex align-items-center mb-1 mb-md-0 text-white"
                  >
                    <span>
                      <span class="text-small">Rs.</span>
                      <%=order.total%>
                    </span>
                  </div>
                  <div
                    class="col-12 col-md-3 d-flex align-items-center justify-content-md-end mb-1 mb-md-0 text-white"
                  >
                    <% if (order.paymentStatus=='Payment Completed') { %>
                    <span class="badge bg-outline-primary me-1"
                      ><%=order.paymentStatus %></span
                    >
                    <%} else {%>
                    <span class="badge bg-outline-warning me-1"
                      ><%=order.paymentStatus %></span
                    >
                    <% } %>
                  </div>
                </div>
              </div>
            </div>
            <% } %>
          </div>
        </div>
      </div>
      <div class="col-xl-6 mb-5">
       
        <div class="card sh-45 h-xl-100-card">
          <div class="card-body h-100"  style="background-color:rgb(51 69 86);">
            <div class="h-100 mt-5 align-content-center" >
              <h1 id="DateSpan" style="display: none"><%=DateSpan%></h1>
              <h1 id="OrderCompletedata" style="display: none">
                <%=finalOrderCompletdata.length%>
              </h1>
              <h1 id="Ordercanceldata" style="display: none">
                <%=ordercanceledcount%>
              </h1>
              <canvas id="myChart" style="width:100%;max-width:600px"></canvas>
              <div
                class="custom-tooltip position-absolute bg-foreground rounded-md border border-separator pe-none p-3 d-flex z-index-1 align-items-center opacity-0 basic-transform-transition"
              >
                <div
                  class="icon-container border d-flex align-middle align-items-center justify-content-center align-self-center rounded-xl sh-5 sw-5 rounded-xl me-3"
                >
                  <span class="icon"></span>
                </div>
                <div>
                  <span
                    class="text d-flex align-middle text-white align-items-center text-small"
                  ></span>
                  <span
                    class="value d-flex align-middle text-body align-items-center cta-4"
                  ></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      
   

    
  </div>

<div class="card sh-45 h-xl-100-card mb-5"  style="width: 542px;background-color:rgb(51 69 86);">
  <div class="card-body h-100 align-center"  style="background-color:rgb(51 69 86);">
    <div class="h-100  align-content-center"  >
      <h1 id="Date" style="display: none"><%=DateSpan%></h1>
      <h1 id="finalOrderCompletdata" style="display: none">
        <%=finalOrderCompletdata%>
        
      </h1>
      <h1 id="" style="display: none">
        
      </h1>
      <canvas id="myChart2" width="800" height="450"></canvas>

      <div
        class="custom-tooltip position-absolute bg-foreground rounded-md border border-separator pe-none p-3 d-flex z-index-1 align-items-center opacity-0 basic-transform-transition"
      >
        <div
          class="icon-container border d-flex align-middle align-items-center justify-content-center align-self-center rounded-xl sh-5 sw-5 rounded-xl me-3"
        >
          <span class="icon"></span>
        </div>
        <div>
          <span
            class="text d-flex align-middle text-white align-items-center text-small"
          ></span>
          <span
            class="value d-flex align-middle text-body align-items-center cta-4"
          ></span>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</main>


<script
src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
</script>
<script>
   const totalcancelorder = document.getElementById('Ordercanceldata').innerHTML
   const orderdata = document.getElementById('deliverd').innerHTML
   const painding = document.getElementById('pending').innerHTML
var xValues = ["cancelled", "Orders", "Pending Orders",];
var yValues = [totalcancelorder,orderdata,painding];


 
var barColors = [
  "#b91d47",
  "#00aba9",
  "#2b5797",
  "#e8c3b9",
  "#1e7145"
];

new Chart("myChart", {
  type: "pie",
  data: {
    labels: xValues,
    datasets: [{
      backgroundColor: barColors,

      data: yValues
      
    }]
  },
  options: {
    title: {
      display: true,
      text: "Order Details"
    }
  }
});
</script>


<script>
const DateSpan = document.getElementById('Date').innerHTML
const profit =  document.getElementById('finalOrderCompletdata').innerHTML
var xValues = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday','Sunday'];
let arr=[]
yValues=[] 

for (let i = 0; i < profit.length; i++) {
  if(profit[i]!=' ' && profit[i]!=',' ){
    arr.push(profit[i])
  }
}
for(let i=1 ;i<=7;i++){
  yValues.push(parseInt(arr[i]))
}
  // generateData("x * 2 + 7",DateSpan );
  
  new Chart("myChart2", {
    type: "line",
    data: {
      labels: xValues,
      datasets: [{
        fill: true,
        pointRadius: 2,
        borderColor: "rgba(255,0,0,0.5)",
        data: yValues 
      }]
    },    
    options: {
      legend: {display: false},
      title: {
        display: true,
        text: "Revenu Details",
        fontSize: 16
      }
    }
  });
  function generateData(value, i1, i2, step = 1) {
    for (let x = i1; x <= i2; x += step) {
      yValues.push(eval(value));
      xValues.push(x);
    }
  }
  </script>
  
  

<!-- <script
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"
  integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script> -->
<script
src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.0.1/chart.min.js"
  integrity="sha512-tQYZBKe34uzoeOjY9jr3MX7R/mo7n25vnqbnrkskGr4D6YOoPYSpyafUAzQVjV6xAozAqUFIEFsCO4z8mnVBXA=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>



<%- include('includes/footer.ejs') %>
