<link
  rel="stylesheet"
  type="text/css"
  href="https://cdn.datatables.net/v/dt/jq-3.6.0/jszip-2.5.0/dt-1.13.1/af-2.5.1/b-2.3.3/b-colvis-2.3.3/b-html5-2.3.3/b-print-2.3.3/cr-1.6.1/date-1.2.0/fc-4.2.1/fh-3.3.1/kt-2.8.0/r-2.4.0/rg-1.3.0/rr-1.3.1/sc-2.0.7/sb-1.4.0/sp-2.1.0/sl-1.5.0/sr-1.2.0/datatables.min.css"
/>
<link rel="stylesheet" href="css/datatable.css">
 
<%- include('includes/header.ejs') %>

<div class="text-center mx-auto mt-2" style="min-width: 22rem"></div>
<div class="container-fluid mt-3" style="min-height: 33rem">

  <h2 class="text-center text-white">Manage Orders</h2>


  <table
    id="example"
    class="table table-striped table-bordered"
    style="width: 100%"
  >
    <thead>
      <tr>
        <th>Order ID</th>
        <th>Name</th>
        <th>Amount</th>
        <th>Payment Mode</th>
        <th>Payment status</th>
        <th>Track</th>
        <th></th>
        <th>Details</th>
      </tr>
    </thead>
    <tbody id="myTable">
      <% for( let i = 0; i < result.length; i++ ) { %>
  
      <tr>
        <th scope="row"><%= result[i]._id %></th>
        <td><%= result[i].address.firstName %></td>
        <td>₹ <%= result[i].total %></td>
        <td><%= result[i].paymentMethod %></td>
        <td><%= result[i].paymentStatus %></td>

        <td>
          <select
            style="background-color: yellow; text-size-adjust: 12px"
          
            name="track"
            id="track<%= i %>"
          >
            <option value="<%= result[i].orderStatus %>"  selected  ><%= result[i].track %></option>
            <option value="Cancellede">Cancellede</option>
            <option value="orderconfirmed">orderconfirmed</option>
            <option value="Shipped">Shipped</option>
            <option value="Delivered">Delivered</option>
            <option value="Out For Delivery">Out For Delivery</option>
          </select>
        </td>
        <td>
          <button
            type="button"
            id="changetrack"
            class="btn btn-primary btn-sm"
            onclick="orderStatus('<%= result[i]._id %>','<%= i %>')"
          >
            Change
          </button>
        </td>

        <td>
          <button class="btn btn-primary btn-sm" type="button">
            veiw Details
          </button>
        </td>
      </tr>
      <% } %>
    </tbody>
  </table>
</div>

 

  <%- include('includes/footer.ejs') %>


  <script>
    function change(val) {
      let page = document.getElementById('page').textContent;
      let count = parseInt(page) + val;
      console.log(count);
      $.ajax({
        url: `/admin/orders?page=${count}&limit=10`,
        method: 'get',
        success: (response) => {},
      });
    }
  </script>

<script>
  $(document).ready(function () {
    $('#example').DataTable();
    $('.dataTables_length').addClass('bs-select');
  });
</script>

  <script>
    function orderStatus(e,i) {
      const oid = e
      const value = $(`#track${i}`).find(':selected').val();
      console.log(oid,value);
      alert(`oid = ${oid}`);
      alert(`value = ${value}`);

      $.ajax({
        url: '/admin/order-status',
        data: {
          oid,
          value,
        },
        method: 'post',
        success: (response) => {
          if (response.status) {
            Swal.fire({
              position: 'top-end',
              icon: 'success',
              title: 'Track statuse has been changed',
              showConfirmButton: false,
              timer: 1000,
            });
          }
        },
      });
    }
  </script>

  <script
    type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"
  ></script>
  <script
    type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"
  ></script>
  <script
    type="text/javascript"
    src="https://cdn.datatables.net/v/dt/jq-3.6.0/jszip-2.5.0/dt-1.13.1/af-2.5.1/b-2.3.3/b-colvis-2.3.3/b-html5-2.3.3/b-print-2.3.3/cr-1.6.1/date-1.2.0/fc-4.2.1/fh-3.3.1/kt-2.8.0/r-2.4.0/rg-1.3.0/rr-1.3.1/sc-2.0.7/sb-1.4.0/sp-2.1.0/sl-1.5.0/sr-1.2.0/datatables.min.js"
  ></script>
