<%- include('includes/header.ejs') %>
<!--================Checkout Area =================-->
<section class="checkout_area section_gap mt-5">
  <div class="container">
    <!-- <div class="cupon_area">
                <h4>Have a coupon</h4>
                <input type="text" placeholder="Enter coupon code">
                <a class="tp_btn" href="#">Apply Coupon</a>
            </div> -->
    <% if (Cart==null){%>
    <h2>No Orders</h2>
    <a class="genric-btn primary" href="/">Go to Home</a>
    <% } else { %>

    <div class="billing_details">
      <div class="row">
        <form class="row contact_form" id="checkout-form" novalidate="novalidate">
          <div class="row">
            <div class="col-lg-6">
              <h3>Delivery Address</h3>
              <div class="row">
                <% if (addresses.length==0){ %>
                <h1 id="addressCount" hidden>0</h1>
                <% } else { %>
                <h1 id="addressCount" hidden><%=addresses.length%></h1>
                  <% for (i=0;i < addresses.length ;i++) { %>
                    <div class="col-sm-6 mb-3">
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">
                            <%=addresses[i].firstName%> <%=addresses[i].secondName%>
                          </h5>
                          <p class="card-text">
                            <%=addresses[i].houseName%>, <%=addresses[i].address%>,
                            <%=addresses[i].city%>, <%=addresses[i].district%> ,
                            <%=addresses[i].state%>, <%=addresses[i].country%> ,
                            <%=addresses[i].pincode%>
                          </p>
                          <% if(i==0){ %>
                          <input
                            type="radio"
                            class="addressSelector"
                            name="Address"
                            id="<%=addresses[i]._id%>"
                            value="<%=addresses[i]._id%>"
                            checked
                          />
                          <% }else{ %>
                          <input
                            type="radio"
                            class="addressSelector"
                            name="Address"
                            id="<%=addresses[i]._id%>"
                            value="<%=addresses[i]._id%>"
                          />
                          <% } %>
                        </div>
                      </div>
                    </div>
                    <% } %>
                <% } %>
                
                <div class="col-sm-6">
                  <div class="card">
                    <a href="/editAddress" class="btn btn-primary">Add New</a>
                  </div>
                </div>
              </div>
              <div class="mt-4">
                <div class="row">
                  <input
                    class="col-8 single-input"
                    type="text"
                    id="couponInput"
                    placeholder="Enter coupon code"
                  />
                  <button
                    class="col-3 genric-btn primary"
                    onclick="applyCoupon('<%=Cart.total%>t')"
                    type="button"
                    id="applyBtn"
                  >
                    Apply Coupon
                  </button>
                </div>
                <p id="CouponError"></p>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="order_box">
                <h2>Your Order</h2>
                <ul class="list">
                  <li>
                    <a href="#">Products <span>Total</span></a>
                  </li>
                  
                  <% for(Product of Cart.products){ %>
                  <li>
                    <a href="#"
                      ><span
                        class="float-left w-50"
                        style="
                          display: inline-block;
                          width: 180px;
                          white-space: nowrap;
                          overflow: hidden !important;
                          text-overflow: ellipsis;
                        "
                      >
                        <%=Product.name%> </span
                      ><span class="float-left w-25"
                        >x <%=Product.quantity%> </span
                      ><span class="float-right w-25 text-right"
                        >Rs. <%=Product.price%>
                      </span></a
                    >
                  </li>
                  <% } %>
                </ul>
                <ul class="list list_2">
                  <li>
                    <a style="color: rgb(76, 76, 76); font-size: 13px" href="#"
                      >Total<span style="color: rgb(76, 76, 76); font-size: 13px"
                        >RS.<span id="totalAmount">
                          <%=Cart.total%>
                        </span></span
                      ></a
                    >
                  </li>
                </ul>
                <ul class="list list_2">
                  <li>
                    <a style="color: rgb(76, 76, 76); font-size: 13px" href="#"
                      >Coupon Discount<span
                        id="discountAmount"
                        style="color: rgb(76, 76, 76); font-size: 13px"
                        >NIL</span
                      ></a
                    >
                  </li>
                </ul>
                <ul class="list list_2">
                  <li>
                    <a href="#"
                      >Grand Total<span
                        >RS.<span id="grandTotalAmount">
                          <%=Cart.total%>
                        </span></span
                      ></a
                    >
                  </li>
                </ul>
                <hr class="mt-3 mb-3" />
                <h2>Payment Method</h2>
                <div class="mt-3 mb-3">
                  <input
                    type="radio"
                    id="NET-BANKING"
                    name="paymentMethod"
                    value="Online Payment"
                    checked
                  />
                  <label for="NET-BANKING">NET BANKING</label><br />
                  <input
                    type="radio"
                    id="PAY-ON-DELIVERY"
                    name="paymentMethod"
                    value="Cash On Delivery"
                  />
                  <label for="PAY-ON-DELIVERY">PAY ON DELIVERY</label><br />
                </div>
                <button class="primary-btn w-100" type="submit">
                  Proceed to Pay
                </button>
              </div>
            </div>
          </div>
        </form>
  
      </div>
    </div>
  </div>
</section>

<script
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"
  integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>

<!-- sweet alert -->
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

<script>
  let userOrderData
  $("#checkout-form").submit((e) => {
    e.preventDefault();
    console.log("vannu >>>>>>>>>>>>>>>");
    $.ajax({
      url: "/checkout/<%= Cart._id %>",
      method: "post",
      data: $("#checkout-form").serialize(),
      success: (response) => {
        if (response.cashOnDelivery) {
          Swal.fire({
            title: "Order Placed Successfully",
            icon: "success",
            showDenyButton: true,
            confirmButtonText: "View Order",
            denyButtonText: `Continue Shopping`,
            toast: true,
          }).then((result) => {
            /* Read more about isConfirmed, isDenied below */
            if (result.isConfirmed) {
              location.href = "/confirm";
            } else if (result.isDenied) {
              location.href = "/";
            }
          });
        } else if (response.onlinePayment) {
          console.log("test ok");
          let razorpayoderData = response.razorpayoderData;
          userOrderData = response.userOrderData;
          console.log(userOrderData,"<<<<<<<<<<<<<<<<<<<<<<<");
          console.log(razorpayoderData);
          var options = {
            key: "rzp_test_EsWfdOrXZua8KY", // Enter the Key ID generated from the Dashboard
            amount: response.razorpayOrderData.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
            currency: "INR",
            name: "Karma Shoes",
            description: "Test Transaction",
            image: "https://example.com/your_logo",
            order_id: response.razorpayOrderData.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
            handler: function (response) {
              console.log(response, "????????????????????????????????????????");
             // alert(response.razorpay_payment_id);
              //alert(response.razorpay_order_id);
              //alert(response.razorpay_signature);
              verifyPayment(response, );
            },
            prefill: {
              name: "Gaurav Kumar",
              email: "gaurav.kumar@example.com",
              contact: "9999999999",
            },
            notes: {
              address: "Razorpay Corporate Office",
            },
            theme: {
              color: "#3399cc",
            },
          };

          var rzpl = new Razorpay(options);

          rzpl.on("payment.failed", function (response) {
            paymentFailed(response);
          });
          rzpl.open();
        }
      },
    });
  });

  function verifyPayment(payment,razorpayOrderData) {
    console.log(razorpayOrderData);
   
    $.ajax({
      url: "/verifyPayment",
      data: {
        payment,
        razorpayOrderData,
        userOrderData,
      },
      method: "post",
     
      success: (response) => {
        if (response.status) {
          Swal.fire({
            title: "Order Placed Successfully",
            icon: "success",
            showDenyButton: true,
            confirmButtonText: "View Order",
            denyButtonText: `Continue Shopping`,
            toast: true,
          }).then((result) => {
            /* Read more about isConfirmed, isDenied below */
            if (result.isConfirmed) {
              location.href = "/confirm";
            } else if (result.isDenied) {
              location.href = "/";
            }
          });
        }
      },
    });
  }

  function paymentFailed(response) {
    $.ajax({
      url: "/paymentFailed",
      data: response,
      method: "post",
      success: (response) => {
        if (response.status) {
          Swal.fire({
            title: "Payment Failed !",
            icon: "error",
            showDenyButton: false,
            toast: true,
          }).then((result) => {
            /* Read more about isConfirmed, isDenied below */
            if (result.isConfirmed) {
              location.href = "/";
            } else if (result.isDenied) {
              location.href = "/";
            }
          });
        }
      },
    });
  }
</script>
<% } %> <%- include('includes/footer.ejs') %>
