
<%- include('./includes/header.ejs') %>

<section class="cart_area mt-5">
    <div class="container">
        <h2>Wishlist</h2>
        <div class="cart_inner">
            <div class="table-responsive">
                <% if(Wishlist) { %>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Product</th>
                            <th scope="col">Price</th>
                            <th scope="col">Add to Cart</th>
                            <th scope="col">Remove</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for (Product of Wishlist) { %>
                        <tr>
                            <td>
                                <div class="media">
                                    <div class="d-flex">
                                        <img height="100px" width="100px" src="productImages/<%=Product.Images[0]%>" alt="">
                                    </div>
                                    <div class="media-body">
                                        <p><%=Product.ProductName%></p>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <h5>Rs.<span><%=Product.Price%></span></h5>
                            </td>
                            <td>
                                <a href="/addToCart/?productId=<%=Product.ProductId%>&productName=<%=Product.ProductName%>&price=<%=Product.Price%>&images=<%=Product.Images[0]%>" class="genric-btn primary medium text-dark">Add To Cart</a>
                            </td>
                            <td>
                                <a href="/removeFromWishlist/?ProductId=<%=Product.ProductId%>" class="genric-btn danger medium text-dark">Remove</a>
                            </td>
                        </tr>
                        <tr>
                            
                        </tr>
                        <% } %>
                    </tbody>
                </table>
                <% }else{ %>
                    <p>Wishlist is Empty</p>
                 <% } %>
            </div>
        </div>
    </div>
</section>


<%- include('./includes/footer.ejs') %>