<%- include('./includes/header') %>


<section class="cart_area mt-5">
    <div class="container">
        <h2>My Orders</h2>
        <div class="cart_inner">
            <div class="table-responsive">
                <% if(Orders.length>0) { %>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Order ID</th>
                            <th scope="col">Date</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Status</th>
                            <th scope="col">View</th>
                            <th scope="col">Track</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% console.log(Orders) %> 
                        <% for (Order of Orders) { %>
                        <tr>
                            <td> 
                                <p><%=Order.id%></p>    
                            </td>
                            <td> 
                                <p><%=Order.date%></p>    
                            </td>
                            <td>
                                <p>Rs.<span><%=Order.total%></span></p>
                            </td>
                            <td>
                                <% if (Order.orderStatus=="Cancellede") { %>
                                    <p><span style="color:red"><%=Order.orderStatus%></span></p>
                                    
                                    <% }else {%>
                                        <p><span style="color:green"><%=Order.orderStatus%></span></p>
                                        
                                        <% } %> 
                            </td>
                            <td>
                                <a href="/orderSummary/?id=<%=Order.id%>" class="genric-btn primary medium text-dark">View</a>
                            </td>

                            <td>
                                <a href="/ordertracking/?id=<%=Order.id%>" class="genric-btn primary medium text-dark">TrackOrder</a>

                            </td>
                        </tr>
                        <tr>
                            
                        </tr>
                        <% } %>
                    </tbody>
                </table>
                <hr>
                <% }else{ %>
                    <div class="container">
                        <div class="row text-center">
                          <div class="col-md-12 mt-5">
                            <div>
                              <img src="/productImages/678caef6068a976e4a0d94bbdba6b660.webp" alt="" width="50%" />
                              <p style="color: red">No Order yet </p>
                            </div>
                            <div>
                              <a class="btn btn-success my-3" href="/">Start Shopping</a>
                            </div>
                          </div>
                        </div>
                      </div>
                 <% } %>
            </div>
        </div>
    </div>
</section>


<%- include('./includes/footer') %>