<%- include('./includes/header.ejs') %>
<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Order summary</h1>
                <nav class="d-flex align-items-center">
                    <a href="/">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a href="#">Order summary</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->

<!--================Order Details Area =================-->
<section class="order_details section_gap">
    <div class="container">
        <% if (id.orderStatus=="Cancellede") { %>
            <h3 class="title_confirmation text-danger"> Your order has been Cancelled.</h3>
        <% } else{%>
            
            <h3 class="title_confirmation">Thank you. Your order has been received.</h3>
            <% } %> 
        <div class="row order_d_inner">
            <div class="col-lg-4">
                <div class="details_item">
                    <h4>Order Info</h4>
                    <ul class="list">
                        <li><a href="#"><span>Order number</span> : 60235</a></li>
                        <li><a href="#"><span>Date</span> : <%= id.date %></a></li>
                        <li><a href="#"><span>Total</span> : Rs<%= id.total %></a></li>
                        <li><a href="#"><span>Payment method</span> : <%= id.paymentMethod %></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="details_item">
                    <h4>Billing Address</h4>
                    <ul class="list">
                        <li><a href="#"><span>Street</span> : <%= id.address.city %></a></li>
                        <li><a href="#"><span>City</span> :<%= id.address.district %></a></li>
                        <li><a href="#"><span>Country</span> : <%= id.address.country %></a></li>
                        <li><a href="#"><span>Postcode </span> : <%= id.address.zipcode %></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="details_item">
                    <h4>Shipping Address</h4>
                    <ul class="list">
                        <li><a href="#"><span>City</span> : <%= id.address.city %></a></li>
                        <li><a href="#"><span>District</span> : <%= id.address.district %></a></li>
                        <li><a href="#"><span>Country</span> : <%= id.address.country %></a></li>
                        <li><a href="#"><span>Postcode </span> : <%= id.address.zipcode %></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="order_details_table">
            <h2>Order Details</h2>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Product</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                            <% for( let i = 0; i < id.products.length; i++ ) { %>
                            
                        <tr>
                            <td>
                                <p><%= id.products[i].price %></p>
                            </td>
                            <td>
                                <h5>x0<%= id.products[i].quantity %></h5>
                            </td>
                            <td>
                                <p>Rs<%= id.products[i].price*id.products[i].quantity %></p>
                            </td>
                        </tr>
                        <%} %>
                        <tr>
                            <td>
                                <h4>SubTotal</h4>
                            </td>
                            <td>
                                <h5></h5>
                            </td>
                            <td>
                                <p>Rs<%= id.total %></p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="container text-center mt-5">
            <% if(id.orderStatus!='Cancelled'){ %>
                <button onclick="cancelOrder('<%=id._id%>')" class="genric-btn danger">
                  Cancel Order
                </button>
              <% } %>
            <a class="btn btn-outline-primary" href="/">Go back to Home</a>
        </div>
    </div>
</section>
<!--================End Order Details Area =================-->




<%- include('./includes/footer.ejs') %>


<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
 <script>

function cancelOrder(orderId){
    Swal.fire({
      title: "Are you sure?",
      text: "You won't be able to revert this!",
      icon: "warning",
      showCancelButton: true,
      confirmButtonColor: "#3085d6",
      cancelButtonColor: "#d33",
      confirmButtonText: "Yes, Cancel Order!",
      cancelButtonText : 'No'
}).then((result) => {
   if(result.isConfirmed) {
    console.log(orderId);
    $.ajax({
          url:'/cancelOrder/?id='+orderId,
          method:'get',
    })
     Swal.fire("Cancelled!", "Your orderd has been Cancelled.", "success").then(()=>{
          window.location = "/myOrders"
        })
   }
})
}

 </script> 