<%- include('./includes/header') %> 

<div class="container mt-5 pt-5">
    <h2 class="mt-5 mb-5">Shop</h2>
    <div class="row">
        <div class="col-xl-3 col-lg-4 col-md-5">
            <div class="sidebar-categories">
                <div class="head">Browse Categories</div>
                <ul class="main-categories">
                    <li class="main-nav-list pt-2 pb-2">
                        <input onclick="categoryall()" type="checkbox" id="categoryAll" checked>
                        <label >All<span class="ms-4 me-4"></span></label>
                    </li>
                    <% for (Category of Categories){ %>
                    <li class="main-nav-list pt-2 pb-2">
                        <input onclick="categoryOnClick()" value="<%=Category. category%>" name="Categories" type="checkbox" class="category-checkbox">
                        <label ><%=Category. category%></label>
                    </li>
                    <% } %>
                    

                    
                </ul>
            </div>
            
        </div>
        <div class="col-xl-9 col-lg-8 col-md-7">
            <!-- Start Filter Bar -->
            <div class="filter-bar d-flex flex-wrap align-items-center">
                <div class="sorting">
                    <select name="Sort">
                        <option value="1">Featured</option>
                        <option value="1">Low to High</option>
                        <option value="1">High to Low</option>
                    </select>
                </div>
                <!-- <div class="sorting mr-auto">
                    <select>
                        <option value="1">Show 12</option>
                        <option value="1">Show 12</option>
                        <option value="1">Show 12</option>
                    </select>
                </div>
                <div class="pagination">
                    <a href="#" class="prev-arrow"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></a>
                    <a href="#" class="active">1</a>
                    <a href="#">2</a>
                    <a href="#">3</a>
                    <a href="#" class="dot-dot"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></a>
                    <a href="#">6</a>
                    <a href="#" class="next-arrow"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                </div> -->
            </div>
            <!-- End Filter Bar -->
            <!-- Start Best Seller -->
            <section class="lattest-product-area pb-40 category-list">
                <div id="SortArea" class="row">
                    <% for(Product of Products) { %>
                        <div class="col-lg-4 col-md-6">
                            <div class="single-product">
                                <img class="img-fluid" style="height: 350px;" src="/productImages/<%=Product.image[0]%>" alt="">
                                <div class="product-details">
                                    <h6><%=Product.name%></h6>
                                    <div class="price">
                                        <h6>Rs.<%=Product.price%></h6>
                                        <!-- <h6 class="l-through">Rs.<%=//Product.CostPrize%></h6> -->
                                    </div>
                                    <div class="prd-bottom">
    
                                        <a href="/addToCart/?productId=<%=Product._id%>" class="social-info">
                                            <span class="ti-bag"></span>
                                            <p class="hover-text">add to bag</p>
                                        </a>
                                        <a href="/addToWishlist/?id=<%=Product._id%>" class="social-info">
                                            <span class="lnr lnr-heart"></span>
                                            <p class="hover-text">Wishlist</p>
                                        </a>
                                        <a href="/viewProduct/?id=<%=Product._id%>" class="social-info">
                                            <span class="lnr lnr-move"></span>
                                            <p class="hover-text">view more</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% } %>
                </div>
            </section>
            <!-- End Best Seller -->
            <!-- Start Filter Bar -->
            <!-- <div class="filter-bar d-flex flex-wrap align-items-center">
                <div class="sorting mr-auto">
                    <select>
                        <option value="1">Show 12</option>
                        <option value="1">Show 12</option>
                        <option value="1">Show 12</option>
                    </select>
                </div>
                <div class="pagination">
                    <a href="#" class="prev-arrow"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></a>
                    <a href="#" class="active">1</a>
                    <a href="#">2</a>
                    <a href="#">3</a>
                    <a href="#" class="dot-dot"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></a>
                    <a href="#">6</a>
                    <a href="#" class="next-arrow"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                </div>
            </div> -->
            <!-- End Filter Bar -->
        </div>
    </div>
</div>


<script>
    function categoryOnClick() {
    $("#categoryAll").prop("checked", false);
    let Allcheckbox = document.getElementById('categoryAll')
    Allcheckbox.disabled=false
       const markedCheckbox = document.getElementsByName('Categories')
       let values=[]; 
    for (var checkbox of markedCheckbox) {
    if (checkbox.checked){
        values.push(checkbox.value)
        }
       
    }
    console.log(values);
    $.ajax({
        url:`/CategoryFilter/?tags=${values}`,
        method:'get',
        success:(response)=>{
               let sortArea = document.getElementById('SortArea')
               let html=null
               products=response.Products
               products.forEach(element => {
                if(html==null){
                    html=`<div class="col-lg-4 col-md-6">
                        <div class="single-product">
                            <img class="img-fluid" style="height: 350px;" src="/productImages/${element.Images[0]}" alt="">
                            <div class="product-details">
                                <h6>${element.Name}</h6>
                                <div class="price">
                                    <h6>Rs.${element.SellingPrize}</h6>
                                    <h6 class="l-through">Rs.${element.CostPrize}</h6>
                                </div>
                                <div class="prd-bottom">
                                    <a href="/addToCart/?productId=${element._id}&productName=${element.Name}&price=${element.SellingPrize}&images=${element.Images[0]}" class="social-info">
                                        <span class="ti-bag"></span>
                                        <p class="hover-text">add to bag</p>
                                    </a>
                                    <a href="/addToWishlist/?productId=${element._id}&productName=${element.Name}&price=${element.SellingPrize}&images=${element.Images[0]}" class="social-info">
                                        <span class="lnr lnr-heart"></span>
                                        <p class="hover-text">Wishlist</p>
                                    </a>
                                    <a href="/viewProduct/?id=${element._id}" class="social-info">
                                        <span class="lnr lnr-move"></span>
                                        <p class="hover-text">view more</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>`
                }else{
                    html+=`<div class="col-lg-4 col-md-6">
                        <div class="single-product">
                            <img class="img-fluid" style="height: 350px;" src="/productImages/${element.Images[0]}" alt="">
                            <div class="product-details">
                                <h6>Rs.${element.Name}</h6>
                                <div class="price">
                                    <h6>Rs.<span>${element.SellingPrize}</span></h6>
                                    <h6 class="l-through"><span>${element.CostPrize}</span></h6>
                                </div>
                                <div class="prd-bottom">
                                    <a href="/addToCart/?productId=${element._id}&productName=${element.Name}&price=${element.SellingPrize}&images=${element.Images[0]}" class="social-info">
                                        <span class="ti-bag"></span>
                                        <p class="hover-text">add to bag</p>
                                    </a>
                                    <a href="/addToWishlist/?productId=${element._id}&productName=${element.Name}&price=${element.SellingPrize}&images=${element.Images[0]}" class="social-info">
                                        <span class="lnr lnr-heart"></span>
                                        <p class="hover-text">Wishlist</p>
                                    </a>
                                    <a href="/viewProduct/?id=${element._id}" class="social-info">
                                        <span class="lnr lnr-move"></span>
                                        <p class="hover-text">view more</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>`
                }
                
               });
               sortArea.innerHTML=html
            }
        
    })
    }
    function categoryall(){
        let checkbox = document.getElementById('categoryAll')
        if(checkbox.checked){
        $(".category-checkbox").prop("checked", false);
        checkbox.disabled=true
   
        $.ajax({
        url:'/CategoryAll',
        method:'get',
        success:(response)=>{
                let sortArea = document.getElementById('SortArea')
               let html=null
               products=response
               console.log(products);
               products.forEach(element => {
                if(html==null){
                    html=`<div class="col-lg-4 col-md-6">
                        <div class="single-product">
                            <img class="img-fluid" style="height: 350px;" src="/productImages/${element.Images[0]}" alt="">
                            <div class="product-details">
                                <h6>${element.Name}</h6>
                                <div class="price">
                                    <h6>Rs.${element.SellingPrize}</h6>
                                    <h6 class="l-through">Rs.${element.CostPrize}</h6>
                                </div>
                                <div class="prd-bottom">
                                    <a href="/addToCart/?productId=${element._id}&productName=${element.Name}&price=${element.SellingPrize}&images=${element.Images[0]}" class="social-info">
                                        <span class="ti-bag"></span>
                                        <p class="hover-text">add to bag</p>
                                    </a>
                                    <a href="/addToWishlist/?productId=${element._id}&productName=${element.Name}&price=${element.SellingPrize}&images=${element.Images[0]}" class="social-info">
                                        <span class="lnr lnr-heart"></span>
                                        <p class="hover-text">Wishlist</p>
                                    </a>
                                    <a href="/viewProduct/?id=${element._id}" class="social-info">
                                        <span class="lnr lnr-move"></span>
                                        <p class="hover-text">view more</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>`
                }else{
                    html+=`<div class="col-lg-4 col-md-6">
                        <div class="single-product">
                            <img class="img-fluid" style="height: 350px;" src="/productImages/${element.Images[0]}" alt="">
                            <div class="product-details">
                                <h6>Rs.${element.Name}</h6>
                                <div class="price">
                                    <h6>Rs.<span>Rs.${element.SellingPrize}</span></h6>
                                    <h6 class="l-through">RS.<span>${element.CostPrize}</span></h6>
                                </div>
                                <div class="prd-bottom">
                                    <a href="/addToCart/?productId=${element._id}&productName=${element.Name}&price=${element.SellingPrize}&images=${element.Images[0]}" class="social-info">
                                        <span class="ti-bag"></span>
                                        <p class="hover-text">add to bag</p>
                                    </a>
                                    <a href="/addToWishlist/?productId=${element._id}&productName=${element.Name}&price=${element.SellingPrize}&images=${element.Images[0]}" class="social-info">
                                        <span class="lnr lnr-heart"></span>
                                        <p class="hover-text">Wishlist</p>
                                    </a>
                                    <a href="/viewProduct/?id=${element._id}" class="social-info">
                                        <span class="lnr lnr-move"></span>
                                        <p class="hover-text">view more</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>`
                }
                
                })
                sortArea.innerHTML=html
            }
        })
        
    }
}
</script>

<%- include('./includes/footer') %>